---
import { Badge } from './ui/badge'
import { Card, CardContent, CardFooter, CardHeader } from './ui/card'
import { Image } from 'astro:assets'
import { Button, buttonVariants } from './ui/button'
import { ArrowRight, Code, ExternalLink } from 'lucide-react'

const tech = {
  react: { name: 'React', style: 'b#005f80' },
  nextjs: {
    name: 'Next.js',
    style: 'bg-blue-500/10 text-blue-400 border-blue-500',
  },
  tailwind: {
    name: 'Tailwind CSS',
    style: 'bg-cyan-500/10 text-cyan-400 border-cyan-500',
  },
  firebase: {
    name: 'Firebase',
    style: 'bg-yellow-500/10 text-yellow-400 border-yellow-500',
  },
  astro: {
    name: 'Astro',
    style: 'bg-purple-500/10 text-purple-400 border-purple-500',
  },
}

type techConfig = {
  tech: keyof typeof tech
}

interface Project {
  img: string
  title: string
  description: string
  link: string
  code?: string
  tech?: techConfig['tech'][]
}
const projects: Project[] = [
  {
    img: '/projects/project-joint.webp',
    title: 'The Joint - Smoke shop',
    description:
      'Landing page for The Joint smoke shop that consistently attracts approximately <b>200 monthly visitors</b> since its launch on August 1, 2024. This sustained traffic represents over <b>1,400 total visitors</b> since launch, providing The Joint with continuous digital visibility in their local market. The design has maintained steady engagement over 7+ months, demonstrating its lasting effectiveness and reliability.',
    link: 'https://the-joint-sooty.vercel.app/',
    tech: ['tailwind', 'astro'],
  },
  {
    img: '/projects/project-expense.webp',
    title: 'Budget Buddy',
    description:
      'Intuitive expense tracker designed to help users monitor and categorize their daily expenses. The platform provides a comprehensive dashboard with clear visualizations to enhance financial awareness and promote better spending habits.',
    link: 'https://budget-buddy-six.vercel.app/',
    code: 'https://github.com/Vengxdor/Budget-Buddy',
    tech: ['tailwind', 'nextjs', 'firebase'],
  },
  {
    img: '/projects/project-saritas.webp',
    title: 'Sarita',
    description: `Developed a responsive website for Sarita's Flower Shop, integrating dynamic product displays and interactive contact forms, resulting in a <b>50% increase in customer inquiries</b> within the first two months. Enhanced user experience, <b>reducing bounce rate by 49%</b> and <b>increasing page views by 66%</b> through intuitive navigation, faster load times, and mobile optimization.`,
    link: 'https://saritasflower.vercel.app/',
    code: 'https://github.com/Vengxdor/Sarita',
    tech: ['tailwind', 'astro'],
  },
]
---

<section class='my-32' id='projects'>
  <header>
    <h2 class='text-[46px] font-bold text-center'>Featured Projects</h2>
    <p class='text-center text-sm opacity-70 mt-3'>
      Here are some of my recent projects that showcase my skills and expertise
      in web development.
    </p>
  </header>
  <ul class='mt-10 grid grid-cols-1 lg:grid-cols-2 justify-center gap-8'>
    {
      projects.map((project) => (
        <li class='rounded-md'>
          <Card className='bg-black/40 border border-white/10 overflow-hidden group h-full flex flex-col'>
            <div class='relative overflow-hidden'>
              <Image
                src={project.img}
                alt={project.title}
                width={600}
                height={400}
                class='w-full h-64 object-cover object-top transition-transform duration-500 group-hover:scale-105'
                loading='lazy'
              />
              <div class='absolute inset-0 bg-gradient-to-t from-black/80 to-transparent opacity-0 group-hover:opacity-100 transition-opacity' />
            </div>
            <CardHeader className='pb-2'>
              <div class='flex flex-col justify-between gap-2'>
                <h3 class='text-2xl font-bold'>{project.title}</h3>
                <div class='flex gap-2 capitalize'>
                  {project?.tech?.map((tec) => (
                    <Badge variant='outline' className={tech[tec].style}>
                      {tech[tec].name}
                    </Badge>
                  ))}
                </div>
              </div>
            </CardHeader>
            <CardContent className='flex-grow'>
              <p
                set:html={project.description}
                class='text-white/70 [&>b]:text-accent line-clamp-[7]'
              />
            </CardContent>
            <CardFooter className='flex justify-end gap-3'>
              {project.code && (
                <a
                  class={buttonVariants({ variant: 'outline', size: 'sm' })}
                  href={project.code}
                  target='_blank'
                >
                  <Code className='mr-2 h-4 w-4' /> View Code
                </a>
              )}
              <a
                class={buttonVariants({ variant: 'default', size: 'sm' })}
                href={project.link}
                target='_blank'
              >
                <ExternalLink className='mr-2 h-4 w-4' /> Visit Site
              </a>
            </CardFooter>
          </Card>
        </li>
      ))
    }
  </ul>
  <!-- *coming soon* <div class="flex justify-center mt-10">
    <Button variant="outline" size="lg" className="border-white/20 hover:border-white/40">
      View All Projects 
      <ArrowRight className="ml-2 h-4 w-4" />
    </Button>
  </div> -->
</section>
