---
import { FaGithub } from 'react-icons/fa'
import Pill from './ui/pill'
import type { Tech } from '@/components/ui/pill'

interface Project {
  img: string
  title: string
  description: string
  link: string
  code?: string
  tech?: Tech['tech'][]
}
const projects: Project[] = [
  {
    img: '/projects/joint.webp',
    title: 'The Joint - Smoke shop',
    description:
      'Landing page for a local business call The joint. A modern landing page designed to showcase the brand and offerings of a premium smoke store. The design combines modern aesthetics with a user-friendly experience to effectively showcase the brand and its offerings.',
    link: 'https://the-joint-sooty.vercel.app/',
    tech: ['tailwind', 'nextjs'],
  },
  {
    img: '/projects/budget-buddy.png',
    title: 'Budget Buddy',
    description:
      'Intuitive expense tracker designed to help users monitor and categorize their daily expenses. The platform provides a comprehensive dashboard with clear visualizations to enhance financial awareness and promote better spending habits.',
    link: 'https://budget-buddy-six.vercel.app/',
    tech: ['tailwind', 'nextjs', 'firebase'],
  },
]
---

<section class='my-32' id='projects'>
  <h2 class='flex items-center gap-3 text-[46px] font-bold'>
    <svg
      class='size-12'
      xmlns='http://www.w3.org/2000/svg'
      width='24'
      height='24'
      viewBox='0 0 24 24'
      stroke-width='2'
      stroke='currentColor'
      fill='none'
      stroke-linecap='round'
      stroke-linejoin='round'
    >
      <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
      <path d='M7 8l-4 4l4 4'></path>
      <path d='M17 8l4 4l-4 4'></path>
      <path d='M14 4l-4 16'></path>
    </svg>
    Projects
  </h2>
  <ul class='mt-8 grid justify-center gap-12'>
    {
      projects.map((project) => (
        <li class='mx-auto mt-5 grid w-full justify-center gap-5 md:flex md:gap-7'>
          <div class='w-full md:w-1/2'>
            <img
              loading='lazy'
              class='w-full rounded-md md:max-w-[476px]'
              src={project.img}
              alt={project.title}
            />
          </div>
          <div class='grid size-full md:w-1/2 md:max-w-lg'>
            <div>
              <h4 class='mb-4 text-4xl font-bold'>{project.title}</h4>
              {project.tech && (
                <div class='flex gap-2 py-2'>
                  {project.tech.map((tech) => (
                    <Pill tech={tech} />
                  ))}
                </div>
              )}
              <p class='text-xl opacity-60'>{project.description}</p>
            </div>
            <div class='mt-2 flex items-end justify-end gap-2'>
              {project.code && (
                <a
                  class='flex gap-1 text-lg items-center p-1 px-4 rounded-md border'
                  target='_blank'
                  href={project.link}
                >
                  <FaGithub />
                  Code
                </a>
              )}
              <a
                class='flex gap-1 text-lg items-center p-1 px-4 rounded-md bg-secondary hover:bg-purple-800 transition-colors duration-300'
                target='_blank'
                href={project.link}
              >
                <svg
                  class='size-4'
                  xmlns='http://www.w3.org/2000/svg'
                  width='24'
                  height='24'
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentColor'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                >
                  <path d='M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71' />
                  <path d='M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71' />
                </svg>
                Preview
              </a>
            </div>
          </div>
        </li>
      ))
    }
  </ul>
</section>
